/*** Écrit par Bachir Alla et Geneviève Ouellette ***/

/** Règles d'organisation interne proposées
1. Paramètres de polices et de couleur
2. Hauteur, Largeur, Marges, etc. 
3. Autres???
**/

/******** Balises générales ********/
body {
  background-color: white;

  margin: 0 1px;
}

h1,
h4 {
  font-family: "Times New Roman", Times, serif;
  font-stretch: extra-condensed;
}
h3 {
  font-family: "Prata", serif;
}

h2,
h3,
h4,
.texte_section {
  font-weight: normal;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 10px;
  color: #0044bb;
  text-transform: uppercase;
}

h4 {
  font-size: 25px;
}

.texte_section {
  font-size: 16px;
  line-height: 1.8;
  font-family: "IBM Plex Sans", sans-serif;
  color: gray;
  margin-bottom: 50px;
}

.nav-list {
  text-transform: uppercase;
  color: gray;
  text-decoration: none;
}

.nav-list:hover {
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

/******** Classes ********/
.icone_box {
  list-style-type: none;
  display: flex;
  text-align: center;
  padding: 0 300px;
}
.icone {
  font-size: 25px;
  text-align: center;
}

.small-ico {
  font-size: 15px;
  text-align: center;
}

.boite-cliquable {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  padding: 10px 0;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
}
.circles {
  text-align: center;
  border: 1px solid rgba(229, 229, 229, 0.349);
  display: flex;
  justify-content: center;
}
.circles ul {
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  align-items: center;
  text-align: center;
}

.circles li {
  border: 2px solid rgba(229, 229, 229, 0.349);
  border-radius: 50%;
  cursor: pointer;
  height: 4px;
  width: 4px;
  justify-content: space-between;
  margin-left: 5px;
}

.to_white li:hover {
  border-color: white;
}

.to_white li.selected {
  border-color: white;
}

.to_blue li:hover {
  border-color: #06131f;
}

.to_blue li.selected {
  border-color: #06131f;
}

/***Ne fonctionne pas... 
.pattern { 
  background: url(/joomla3/infinity/templates/gk_infinity/images/pattern.png);
  background-repeat: repeat;
}
***/

.arrow {
  color: gray;
  border: 1px solid rgba(229, 229, 229, 0.349);
}

.arrow-square {
  padding: 50px 50px;
}

.arrow-rectangle {
  padding: 50px 105px;
}

.arrow.to_white:hover {
  color: white;
}

.arrow.to_blue:hover {
  color: #06131f;
}

.circle-arrow {
  background-color: #fff8ac;
  border-radius: 50%;
  padding: 7px;
}

/******** PAGE INDEX ********/

/*** Image de fond. ***/
#haut_page,
#haut-page-contact {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /*** J'ai essayé de mettre une transparence, mais elle se mettait sur tout le contenu de la balise ***/
  /***opacity: 0.25; ***/
  height: 1000px;
  width: 100%;
}

/*** Titre du site et menu de navigation ***/
#header {
  height: 100px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-size: 25px;
  color: white;

  border-right-color: rgba(229, 229, 229, 0.349);
  border-width: 1px;
  padding-left: 30px;
}

#header ul {
  display: flex;

  list-style-type: none;
}

#header li {
  color: gray;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;

  padding: 0px 30px;
}

#header li.selected {
  color: white;
}

#header li:hover {
  color: white;

  transition: all 0.5s ease;
  cursor: pointer;
}

.cadre {
  border-width: 0 0 1px;
  border-color: rgba(229, 229, 229, 0.349);
  border-style: solid;
}

/*** Slider du haut***/
#top-slider-text {
  color: white;
  font-size: 60px;
  margin-top: 200px;
  margin-left: 325px;
  margin-right: 325px;
  text-align: center;
}

#bc-top {
  border-color: rgba(229, 229, 229, 0.349);
  color: white;

  margin-top: 50px;
  margin-left: 560px;
  margin-right: 560px;
}

#bc-top:hover {
  background-color: white;
  color: #0044bb;
}

#top-slider-nav {
  height: 100px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  margin-top: 259px;
}

#circles-box-top {
  width: 1113px;
  height: 116px;
}

/***Section About Us ***/
#about-us {
  display: flex;
  list-style: none;
}

#about-us h3 {
  font-size: 50px;
  color: #06131f;
}

#about-us li:first-child {
  height: 660px;
  width: 550px;
  padding: 270px 100px;
  background-image: url(https://demo.gavick.com/joomla3/infinity/templates/gk_infinity/images/map.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}

#about-us li:last-child {
  width: 600px;
  height: 1200px;

  background-image: url("../assets/joueur_echec.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#bc-about {
  color: #0044bb;
  border-color: #0044bb;
  margin-right: 350px;
}

#bc-about:hover {
  background-color: #0044bb;
  color: white;
}

/*** Section What we do ***/

#what-we-do {
  border-width: 1px 0;
  border-color: rgba(229, 229, 229, 0.349);
  border-style: solid;
  display: flex;
  background: url(/joomla3/infinity/templates/gk_infinity/images/pattern.png);
}
#what-we-do h2,
#what-we-do h3 {
  text-align: center;
}
#what-we-do h3 {
  font-size: 35px;
}

#what-we-do div:first-child {
  width: 500px;
  height: 350px;
  padding: 425px 100px;
  border-right: 1px solid rgba(229, 229, 229, 0.349);
}

#what-we-do ul {
  list-style-type: none;
  display: flex;
  border-bottom: 1px solid rgba(229, 229, 229, 0.349);
}

#what-we-do li {
  color: black;
  padding: 100px 50px;
  height: 400px;
  width: 200px;
  border-right: 1px solid rgba(229, 229, 229, 0.349);
}

#what-we-do p {
  color: grey;
}

#what-we-do i {
  font-size: 50px;
  color: grey;
}

#what-we-do li:hover {
  color: white;
  background-color: #06131f;
}

/*** Section Mission ***/
#mission {
  width: 400px;
  padding: 150px 500px 50px;
  border-bottom: 1px solid rgba(229, 229, 229, 0.349);
}

#mission h2,
#mission h3 {
  text-align: center;
}
#mission h3 {
  font-size: 50px;
}

/*** Section Business Perform ***/

#business-perform > ul {
  list-style-type: none;
  display: flex;
}

#business-perform > ul > li:first-child {
  height: 900px;
  width: 3600px;

  background-image: url("../assets/middle_slide1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#business-perform > ul > li:last-child {
  background-color: #06131f;
  border-left: 1px solid rgba(229, 229, 229, 0.349);
}
#right-box,
#arrows-box {
  list-style-type: none;
}

#arrows-box {
  display: flex;
}

#text-box {
  padding: 80px 80px;
  text-align: center;
}

#text-box h3 {
  color: white;
  font-size: 35px;
  text-align: center;
}

#circles-box {
  width: 450px;
  height: 100px;
  margin-top: 54px;
}

/*** Section Clients ***/
#clients {
  border-width: 1px 0;
  border-color: rgba(229, 229, 229, 0.349);
  border-style: solid;
  display: flex;
}
#clients h2,
#clients h3 {
  text-align: center;
}
#clients h3 {
  font-size: 35px;
}

#clients div:first-child {
  width: 800px;
  height: 350px;
  padding: 160px 105px;
  border-right: 1px solid rgba(229, 229, 229, 0.349);
}

#clients ul {
  list-style-type: none;
  display: flex;
  border-bottom: 1px solid rgba(229, 229, 229, 0.349);
}

#clients li {
  color: black;
  padding: 50px 50px;
  border-right: 1px solid rgba(229, 229, 229, 0.349);
}

#clients img {
  color: grey;
  height: 120px;
  width: 120px;
  opacity: 0.5;
}

#clients img:hover {
  opacity: 1;
}

/*** Section Our team ***/

#our-team {
  width: 470px;
  padding: 150px 425px 50px;
  border-bottom: 1px solid rgba(229, 229, 229, 0.349);
}

#our-team h2,
#our-team h3 {
  text-align: center;
}
#our-team h3 {
  font-size: 50px;
}

/*** Section Team-pres ***/

#team-pres ul {
  display: flex;
  list-style-type: none;
}

#team-pres li {
  border: 1px solid rgba(229, 229, 229, 0.349);
  width: 25%;
  text-align: center;
  padding: 90px;
}

#team-pres img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

#team-pres h3 {
  font-size: 25px;
}

#team-pres h3:hover {
  color: #0044bb;
}

#nav-bar {
  display: flex;
  list-style-type: none;
}

#circles-box-team {
  width: 1113px;
  height: 116px;
}

/*** Section Together ***/
#together {
  text-align: center;
  background-color: #06131f;
  padding: 100px 400px;
}

#together h3 {
  color: white;
  font-size: 45px;
}

#together .texte_section {
  font-weight: bold;
}

#together .boite-cliquable {
  background-color: #fff8ac;
  color: #06131f;
  border-width: 0;
  margin: 0 170px;
}

#together .boite-cliquable:hover {
  background-color: #0044bb;
  color: #fff;
}

/*** Navigation en bas ***/
#nav-bottom {
  display: flex;
  background-color: #06131f;
  list-style-type: none;
}

#nav-bottom li {
  padding: 100px 50px;
  width: 25%;
  border: 1px solid rgba(229, 229, 229, 0.349);
}

#nav-bottom li:first-child {
  padding: 100px 50px 100px 100px;
}

#nav-bottom h5 {
  color: #fff;
  font-size: 15px;
  margin-bottom: 20px;
}

#nav-bottom div {
  height: 4px;
  width: 25px;
  background-color: #0044bb;
}

#nav-bottom .nav-list {
  font-size: 12px;
}

/*** Footer ***/
#footer {
  text-align: center;
  background-color: #06131f;
  padding: 100px;
}

#footer p {
  color: gray;
  font-size: 10px;
}

/******** Page contact ********/

#haut-page-contact {
  height: 500px;
  background-image: url("https://demo.gavick.com/joomla3/infinity/images/demo/bg-2.jpg");
}

#top-slider-text-contact {
  color: white;
  font-size: 60px;
  margin-top: 200px;
  margin-left: 325px;
  margin-right: 325px;
  text-align: center;
  margin-block-end: 0;
}

#get-in-touch {
  color: white;
  margin-left: 325px;
  margin-right: 325px;
  text-align: center;
}

#get-in-touch .icone {
  color: gray;
}

#get-in-touch .icone:hover {
  color: beige;
}

.center {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
}

.center img {
  display: block;
  height: 760px;
}

.contact {
  display: flex;
  background-color: white;
  border-left: 1px solid rgba(229, 229, 229, 0.349);
  list-style-type: none;
}

#adresse {
  text-align: right;
  padding-left: 100px;
  margin-bottom: 96px;
  padding-right: 25px;
}

.contact legend {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 50px;
}
.contact .texte_section {
  font-size: 15px;
}

#adresse a {
  text-decoration: none;
}

#adresse a:hover {
  color: #06131f;
}

.contact form {
  margin-bottom: 96px;
  padding-left: 48px;
  padding-right: 100px;
}

form ul {
  margin-block-end: 0;
  margin-block-start: 0;
}

input[type="text"] {
  height: 64px;
}

.txt-plus-court {
  width: 300px;
}

.txt-plus-long {
  width: 600px;
}
