/** Règles d'organisation interne proposées
1. Paramètres de polices et de couleur
2. Hauteur, Largeur, Marges, etc. 
3. Autres???
**/

/******** Balises générales ********/
body {
  background-color: white;

  margin: 0 1px;
}

h1,
h4 {
  font-family: "Times New Roman", Times, serif;
  font-stretch: extra-condensed;
}
h3 {
  font-family: "Prata", serif;
}

h2,
h3,
h4,
.texte_section {
  font-weight: normal;
}

h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 10px;
  color: #0044bb;
  text-transform: uppercase;
}

h4 {
  font-size: 25px;
}

.texte_section {
  font-size: 16px;
  line-height: 1.8;
  font-family: "IBM Plex Sans", sans-serif;
  color: gray;
}

ul {
  margin: 0;
  padding: 0;
}

/*** Classes ***/

.icone {
  font-size: 25px;
  text-align: center;
  list-style-type: none;
}

.boite-cliquable {
  text-align: center;
  border-width: 1px;
  border-style: solid;
  padding: 10px 0;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
}

.circles ul {
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  align-items: center;
  text-align: center;
}

.circles li {
  border: 2px solid grey;
  border-radius: 50%;
  cursor: pointer;
  height: 4px;
  width: 4px;
  justify-content: space-between;
  margin-left: 5px;
}

.to_white li:hover {
  border-color: white;
}

.to_white li.selected {
  border-color: white;
}

.to_blue {
  border-color: #06131f;
}

.to_blue li.selected {
  border-color: #06131f;
}

/***Ne fonctionne pas... 
.pattern { 
  background: url(/joomla3/infinity/templates/gk_infinity/images/pattern.png);
  background-repeat: repeat;
}
***/

.arrow {
  color: gray;
  padding: 50px 50px;
  border-bottom: 1px solid gray;
}

.arrow:hover {
  color: white;
}

.arrows-box {
  display: flex;
}

/******** Haut de page ********/
/*** Section avec image de fond. ***/
#haut_page,
#haut-page-contact {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /*** J'ai essayé de mettre une transparence, mais elle se mettait sur tout le contenu de la balise ***/
  /***opacity: 0.25; ***/
  height: 1000px;
  width: 100%;
}

/*** Titre du site et menu de navigation ***/
#header {
  height: 100px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-size: 25px;
  color: white;

  border-right-color: grey;
  border-width: 1px;
  padding-left: 30px;
}

#header ul {
  display: flex;

  list-style-type: none;
}

#header li {
  color: gray;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;

  padding: 0px 30px;
}

#header li.selected {
  color: white;
}

#header li:hover {
  color: white;

  transition: all 0.5s ease;
  cursor: pointer;
}

.cadre {
  border-width: 0 0 1px;
  border-color: grey;
  border-style: solid;
}

#top-slider-text {
  color: white;
  font-size: 60px;
  margin-top: 200px;
  margin-left: 325px;
  margin-right: 325px;
  text-align: center;
}
#bc-top {
  border-color: gray;
  color: white;

  margin-top: 50px;
  margin-left: 560px;
  margin-right: 560px;
}

#bc-top:hover {
  background-color: white;
  color: #0044bb;
}

#top-slider-nav {
  height: 100px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
}

#top-slider-nav div,
#top-slider-nav ul {
  padding: 0px 30px;
  vertical-align: bottom;
}
#top-slider-nav div:first-of-type {
  text-align: left;
  width: 100px;
}

#top-slider-nav div:last-of-type {
  text-align: right;
  width: 100px;
}

#about-us {
  display: flex;
  list-style: none;
}

#about-us h3 {
  font-size: 50px;
}

#about-us li {
}

#about-us li:first-child {
  height: 660px;
  width: 550px;
  padding: 270px 100px;
}

#about-us li:last-child {
  width: 600px;
  height: 1200px;

  background-image: url("../assets/joueur_echec.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#bc-about {
  color: #0044bb;
  border-color: #0044bb;
  margin-right: 350px;
}

#bc-about:hover {
  background-color: #0044bb;
  color: white;
}

#what-we-do {
  border-width: 1px 0;
  border-color: lightgrey;
  border-style: solid;
  display: flex;
  background: url(/joomla3/infinity/templates/gk_infinity/images/pattern.png);
}
#what-we-do h2,
#what-we-do h3 {
  text-align: center;
}
#what-we-do h3 {
  font-size: 35px;
}

#what-we-do div:first-child {
  width: 500px;
  height: 350px;
  padding: 425px 100px;
  border-right: 1px solid lightgrey;
}

#what-we-do ul {
  list-style-type: none;
  display: flex;
  border-bottom: 1px solid lightgrey;
}

#what-we-do li {
  color: black;
  padding: 100px 50px;
  height: 400px;
  width: 200px;
  border-right: 1px solid lightgrey;
}

#what-we-do p {
  color: grey;
}

#what-we-do i {
  font-size: 50px;
  color: grey;
}

#what-we-do li:hover {
  color: white;
  background-color: #06131f;
}

#what-we-do a {
  background-color: #fff8ac;
  border-radius: 50%;
  padding: 7px;
}

#mission {
  width: 400px;
  padding: 150px 500px 50px;
  border-bottom: 1px solid lightgrey;
}

#business-perform {
}

#business-perform > ul {
  display: flex;
}

#business-perform > ul > li:first-child {
  height: 1000px;
  width: 2900px;

  background-image: url("../assets/middle_slide1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#business-perform > ul > li:last-child {
  background-color: #06131f;
  border-left: 1px solid rgb(70, 70, 70);
}

#mission h2,
#mission h3 {
  text-align: center;
}
#mission h3 {
  font-size: 50px;
}

/*** Page contact ***/

#haut-page-contact {
  height: 500px;
  background-image: url("https://demo.gavick.com/joomla3/infinity/images/demo/bg-2.jpg");
}

#get-in-touch {
  color: white;
  font-size: 60px;
  margin-left: 325px;
  margin-right: 325px;
  text-align: center;
}
#get-in-touch.icone {
  color: gray;
}

#get-in-touch.icone:hover {
  color: beige;
}
